<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.png" alt="{{ site.name }}" class="logo" height="40">
      {{ site.name }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto">
        {% for item in navigation.main %}
        <li class="nav-item">
          <a class="nav-link {% if page.url == item.url %}active{% endif %}" href="{{ item.url }}">
            {{ item.text }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
